include ../../components/cities/cities
include ../../components/your-city/your-city

nav.navbar.navbar-default
	.container
		.navbar-default__wrapper
			.navbar-header
				button.navbar-toggle(
					type='button' 
					data-toggle='collapse' 
					data-target='#navbar-top'
				)
					- for(var iBar = 0; iBar < 3; iBar++)
						span.icon-bar

			.navbar-default__left
				.navbar-default__logo
					a(href='#')

				.navbar-collapse.collapse#navbar-top
					ul.navbar-nav.navbar-fixed-left
						each item, index in ['Акции', 'Оформить займ','Клиентам','О компании']
							li
								if index == pageId
									a.navbar-default__link.navbar-default__link--active= item
								else
									a.navbar-default__link(href="#")= item

					.navbar-default__right
						span(data-toggle="modal" data-target="#login") Войти
						.navbar-default__address(data-show='.navbar-default__choose-city')
							i.icon-location
							span Набережные Челны

						+yourCity
						.navbar-default__phone 8-800-333-55-66

	.block.block--white
		.container
			.navbar-default__choose-city
				.actions.actions--choose
					form(action='' method='post')
						span.actions__choose
							i.icon-search
							span.actions__search
								input(type='text' placeholder='Введите свой город')

				+cities

