.modal.fade#login
	.modal-dialog
		.modal__content
			h2.modal__title Добро пожаловать!

			form(action='' method='post')
				.modal__input
					label Номер телефона:
					input(type='text')
				.modal__input
					label
						span Пароль
						a.modal__link(href='#') Получить пароль по SMS
					input(type='password')

				input.modal__submit(type='submit' value='Войти')

			.modal__footer
				span.modal__footer-text Войти<br>через:
				span.modal__footer-ico
					each item in ['fb','vk','ok']
						a(href='#' class='icon-'+item)
							span.path1
							span.path2


