.modal {
	&-dialog {
		background: $color-white;
		max-width: 368px;
		width: 100%;
	}

	&__title {
		@include helvetica-bold;
		font-size: 2.4rem;
		color: $color-green;
		text-align: center;
		margin-bottom: 3.7rem;
	}

	&__content {
		width: 100%;
		padding: 5rem 6.7rem;
		margin: 0 auto;
	}

	&__input {
		margin-top: 1.4rem;

		label {
			width: 100%;
		}

		input {
			width: 100%;
			border: solid 1px $color-gray;
			background: $color-gray-light;
			font-size: 1.8rem;
			padding: .6rem;
		}
	}

	&__link {
		color: $color-green;
		font-size: 12px;
		border-bottom: solid 1px lighten($color-green,30);
		float: right;

		&:hover {
			color: lighten($color-green,30);
		}
	}

	&__submit {
		margin-top: 3.6rem;
		font-size: 2rem;
		padding: .45rem;
    	width: 100%;
    	background: $color-green;
    	color: $color-white;
    	border: 0;
	}

	&__footer {
		margin-top: 3.5rem;

		&-text, &-ico {
			@include dib(middle);
		}

		&-text {
			line-height: 1.3;
		}

		&-ico {
			margin-top: -9px;
			float: right;
			font-size: 4.6rem;
			padding-left: 10px;

			[class^='icon-'] {
				&+[class^='icon-'] {
					margin-left: .8rem;
				}
			}
		}
	}
}