.access {
	background: $color-coral;
	color: $color-red;
	text-align: center;
	padding-top: 4.3rem;
	border: solid 1px $color-red;

	h2 {
		color: $color-red;
	}

	p {
		font-size: 2rem;
		margin: 1.5rem 0;
	}

	&__time {
		@include make-row;
		font-size: 3rem;
		margin-top: 4.3rem;
		padding: .8rem;
		color: $color-coral;
		background: $color-red;
	}
}