.row.text-center.block.block--mr-md
	.col-md-8.col-xs-12.col-center.access
		h2.h2.h2--bold.text-center Вам отказано в займе
		p Попробуйте повторно отправить <br>заявку через 1 месяц
		.access__time Осталось: 29 дней, 15 часов