.footer {
	&-list {
		@include reset;
		@include dib(top);
		width: 32%;

		@media(max-width: $screen-xs-min) {
			width: 100%;

			&+.footer-list {
				margin-top: 1.9rem;
			}
		}

		&__item {
			&--bold {
				@include helvetica-bold;
			}

			&+li {
				margin-top: 3px;
			}
		}
	}

	&-social {
		@media(max-width: $screen-sm-max) {
			margin-top: 1.9rem;
		}

		&__wrapper {
			margin-top: 8px;
		}

		&__title {
			@include helvetica-bold;

			&+.footer-social__title {
				margin-top: 1.9rem;
			}
		}

		&__phone {
			margin-top: 3px;
			font-size: 2.3rem;
		}

		&__ico {
			font-size: 23px;

			&+a {
				margin-left: 10px;
			}
		}
	}

	&-bottom {
		@include clearfix;
		margin-top: 3.6rem;
		padding: 1.9rem 0;
		border-top: solid 1px #e0e0e0;

		&__logo {
			float: left;
		}

		&__copy {
			float: right;
		}

		@media(max-width: $screen-xs-min) {
			&__copy, &__logo {
				float: none;
				text-align: center;
			}

			&__copy {
				margin-top: 1.9rem;
			}
		}
	}
}