.header {
	&__bg {
		@include img-property;
		color: $color-white;
		text-align: center;
		margin: 0 auto;
		background-image: url(../img/bg.jpg);
		height: 75.9rem;
		overflow: hidden;
	}

	&__wrapper {
		@include center(relative);
	}

	&__title {
		font-size: 5rem;
	}
}