// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg, $smooth: null) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;

		@if $smooth {
			-webkit-font-smoothing: antialiased;
    		-moz-osx-font-smoothing: grayscale;
		}
	}
}

// fonts
@mixin helvetica-bold {
	font-family: 'helvetica-bold', Arial, sans-serif;
}

@mixin helvetica-light {
	font-family: 'helvetica-light', Arial, sans-serif;
}

@mixin helvetica-roman {
	font-family: 'helvetica-roman', Arial, sans-serif;
}

// center just
@mixin center-just {
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}

// img center
@mixin img-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// img property
@mixin img-property {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// center
@mixin center($position: null) {
	@if $position == null {
		position: absolute;
	}
	@else {
		position: $position;
	}
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

// link block
@mixin link-block {
	@include size(100%,100%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
}

// img center
@mixin img-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// white ul
@mixin white-ul {
	ul {
		@include reset;
		margin-left: 21px;

		li {
			position: relative;
			line-height: 22px;
			margin-bottom: 10px;

			&:before {
				@include after-before;
				@include size(7px,7px);
				top: 5px;
				left: -20px;
				border-radius: 100%;
				background-color: #fff;

			}

			a {
				color: #fff;
				border-bottom: solid 1px rgba(255, 255, 255, 0.2);
			}
		}
	}
}

// reset
@mixin reset {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@mixin reset-just {
	padding: 0;
	margin: 0;
}

// placeholder
@mixin placeholder($color) {
	&::-webkit-input-placeholder {color: $color;}
	&::-moz-placeholder          {color: $color;}
	&:-moz-placeholder           {color: $color;}
	&:-ms-input-placeholder      {color: $color;}
}

// absolute h center
@mixin abs-center {
	left: 0;
	right: 0;
	margin: 0 auto;
}

// after display none
@mixin after-none {
	&:after {
		display: none;
	}
}

// after, before
@mixin after-before {
	content: " ";
	position: absolute;
}

// transition for links
@mixin transition {
	transition: color .5s,
				width .7s,
				opacity .7s,
				background-color 1s
	;
}

// outline none
@mixin outline {
	outline: none;
}

// inline-block
@mixin dib($align, $important: null) {
	@if $important {
		display: inline-block !important;
	}
	@else {
		display: inline-block;
	}
	vertical-align: $align;
}

// nav
// nav reset – full width
@mixin ul-reset {
	width: 100%;
	display: table;
}
@mixin li-reset($type) {
	list-style-type: none;
	@if $type == float { float: left; }
	@else if $type == cell { display: table-cell; vertical-align: top; float: none; }

}