.navbar-default {
	@include reset-just;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	z-index: 10;
	min-height: initial;
	background: $color-green;
	color: $color-white;

	> .container {
		@media(min-width: $screen-md-min) {
			height: $navbar-h;
		}
	}

	&__wrapper {
		@include clearfix;
		position: relative;

		@media(min-width: $screen-md-min) {
			top: 50%;
    		transform: translateY(-50%);
    		margin-top: 3px;
		}
	}

	&__link {
		color: $color-white !important;
		font-size: 16px;

		@media(max-width: $screen-sm-max) {
			display: block;
		}
	}

	&__logo {
		float: left;

		@media(max-width: $screen-sm-max) {
			height: $navbar-h;
			float: none;
			position: absolute;
			top: 0;

			a {
				position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			}
		}

		a {
			@include sprite($logo);
			display: block;
			background-repeat: no-repeat;

			@media 
			(-webkit-min-device-pixel-ratio: 1.5), 
			(min-resolution: 144dpi){
				background-image: url($logo-2x-image);
				background-size: $logo-width $logo-height; 
			}

			@media(max-width: $screen-xs-max) {
				background-size: $logo-width/2 $logo-height/2;
				height: $logo-height /2;
			}
		}
	}

	#navbar-top {
		position: relative;
		text-align: center;
		border: 0;
		
		@media(min-width: $screen-md-min) {
			padding: 0;
		}

		@media(max-width: $screen-sm-max) {
			float: none;
		}
	}

	&__left {
		float: left;
		width: 100%;

		@media(max-width: $screen-sm-max) {
			float: none;
		}
	}
	
	&__right {
		float: right;

		@media(min-width: $screen-md-min) {
			// margin-top: -12px;
		}

		@media(max-width: $screen-sm-max) {
			float: none;
			margin: 10px 0;
		}
	}

	&__address {
		font-size: 1.8rem;
		cursor: pointer;

		i {
			margin-right: 6px;
		}

		span {
			border-bottom: solid 1px $color-white;
		}

		@include dib(middle);

		@media(min-width: $screen-sm-min) {
			margin-right: 18px;
		}
	}

	&__phone {
		@include helvetica-bold;
		@include dib(middle);
		font-size: 2.4rem;

		@media(min-width: $screen-md-min) and
		(max-width: $screen-md-max) {
			display: none;
		}
	}

	@media(max-width: $screen-xs-max) {
		&__address, &__phone {
			display: block;
		}

		&__address {
			&+.navbar-default__phone {
				margin-top: 5px;
			}
		}
	}

	&__choose-city {
		display: none;
		overflow: hidden;
		padding: 5.2rem 3.8rem;

		@media(max-width: $screen-xs-max) {
			padding: 15px 0 0;
		}
	}

	.navbar-toggle {
		top: 50%;
   		transform: translateY(-50%);
		margin: 0;
		border-radius: 0;
		border: 0;
		padding-right: 0;

		&:hover, &:focus {
			background: transparent;
		}
		
		.icon-bar {
			width: 24px;
		    height: 2px;
		    border-radius: 10px;
		    background: $color-white;

		    &+.icon-bar {
		    	margin-top: 6px;
		    }
		}
	}

	@media(max-width: $screen-sm-max) {
		.navbar-header {
			height: $navbar-h;
		}
	}

	.navbar-nav {
		@include reset;
	    position: relative;
	    overflow: hidden;
		
		@media(min-width: $screen-md-min) {
			margin: 10px 0 0 49px;

			li {
			    &+li {
			    	margin-left: 17px;
			    }
			}
		}
	}
}