// colors
$color-black: #000;
$color-green: #60bc24;
$color-white: #fff;
$color-green-light: #e6f0e6;
$color-gray-light: #f9f9f9;
$color-gray: #c6c6c6;
$color-red: #ff0000;
$color-coral: #ffefec;

// size
$navbar-h: 9.1rem;