@import "variables";
@import "mixins";
@import "fonts";
@import "sprite";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

html {
	font-size: 62.5%;
}

@media(max-width: $screen-sm-max) {
	html {
		font-size: 45%;
	}	
}

@media(max-width: $screen-xs-max) {
	html {
		font-size: 39%;
	}	
}

body {
	@include helvetica-light;
	color: $color-black;
	font-size: 14px;
	min-width: 320px;

	&.inner {
		.footer {
			border-top: solid 4px $color-green;
		}
	}
}

a {
	@include transition; 
	&:hover, &:focus {
		text-decoration: none;
	}
}

h1 {
	font-size: 4rem;
	color: $color-black;
	margin: 0;
}

.h1 {
	@extend h1;

	&--white {
		color: $color-white;
	}
}

h2, .h2 {
	@extend h1;
}

.h1, .h2, .h4 {
	&--bold {
		@include helvetica-bold;
	}

	&--mr-lg {
		margin-bottom: 6.9rem;
	}

	&--mr-sm {
		margin-bottom: 1.2rem;
	}

	&--mr-md {
		margin-bottom: 3.1rem;
	}

	&--sm {
		font-size: 3rem;
	}

	&--white {
		color: $color-white;
	}

}

h3 {
	font-size: 2.4rem;
}

h4, .h4 {
	font-size: 1.8rem;
}

.block {
	overflow-y: hidden;

	&--pd-xs {
		padding: 1rem 0;
	}
	&--pd-sm {
		padding: 1.9rem 0;
	}
	&--pd-md {
		padding: 3.9rem 0;
	}
	&--pd-bg {
		padding: 7.6rem 0;
	}
	&--pd-lg {
		padding: 9.6rem 0;
	}
	&--mr-lg {
		margin: 9.6rem 0;
	}
	&--mr-md {
		margin: 3.1rem 0;
	}
	&--green {
		background: $color-green;
	}
	&--green-light {
		background: $color-green-light;
	}
	&--gray-light {
		background: $color-gray-light;
	}
	&--white {
		background: $color-white;
	}
	&--img {
		@include img-property;
	}
}

.svg-include {
	display: none;
}

.col-center {
	display: inline-block;
	float: none;
	text-align: left;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1170px + $grid-gutter-width;

	&--sm {
		max-width: 1031px + $grid-gutter-width;

		@media(max-width: $screen-sm-max) {
			max-width: 760px + $grid-gutter-width;
		}

		@media(max-width: $screen-xs-max) {
			max-width: initial;
			width: 44%;
		}

		@media(max-width: $screen-xs-min) {
			width: 100%;
		}
	}
}

.btn {
	@include helvetica-bold;
	font-size: 3rem;
	padding: 1.05rem 0;
	background: linear-gradient(to bottom, #f0c865 0%,#ce6c0b 100%);
	border: 0;
	border-radius: 0;
	width: 100%;
	box-shadow: 0px 1px 7px 0px #545454;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
	position: relative;
	z-index: 1;
	color: #f0f0f0;
	transition: color .3s ease;
	max-width: 570px;
	margin-bottom: .7rem;

	&:before {
		@include after-before;
		@include size(100%,100%);
		box-shadow: inset 0px 0px 26px 1px #F0C865;
		left: 0;
		top: 0;
	}

	&:after {
		@include after-before;
		@include size(100%,100%);
		background: linear-gradient(to bottom, #fad478 0%,#e37b18 100%);
		
		opacity: 0;
		left: 0;
		top: 0;
		z-index: -1;
		// will-change: opacity;
	}

	&:hover {
		// background: linear-gradient(to bottom, #fad478 0%,#e37b18 100%);
		color: $color-white;

		&:after {
			// opacity: 1;
		}
	}

	&:focus, &:active {
		background: linear-gradient(to top, #f0c865 0%,#ce6c0b 100%);
		color: $color-white;
	}

	&--mrt {
		margin-top: 5rem;
	}
}

.btn-flat {
	@include helvetica-roman;
	font-size: 1.6rem;
	padding: .45rem 1.273rem;
	border: solid 1px $color-green;
	background: $color-white;
	outline: none;
	will-change: background, border;
	transition: 
		background .3s linear,
		border .2s linear;

	&:hover {
		background: $color-green;
		color: $color-white;
	}

	&--green-light {
		background: $color-green-light;
		color: $color-green;
		font-size: 14px;
		border: 0;
	}

	&--lg {
		padding: 1.95rem 1rem;
	}



	&--green {
		background: $color-green;
		color: $color-white;

		&:hover {
			background: lighten($color-green,10);
			border-color: lighten($color-green,30);
		}
	}
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e905";
}
.icon-city:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-form:before {
  content: "\e902";
}
.icon-passport:before {
  content: "\e903";
}
.icon-wallet:before {
  content: "\e904";
}
.icon-fb .path1:before {
  content: "\e907";
  color: rgb(59, 89, 153);
}
.icon-fb .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-insta .path1:before {
  content: "\e909";
  color: rgb(210, 47, 140);
}
.icon-insta .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-twitter .path1:before {
  content: "\e90b";
  color: rgb(53, 155, 237);
}
.icon-twitter .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-vk .path1:before {
  content: "\e90d";
  color: rgb(73, 110, 149);
}
.icon-vk .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}

@import "header";
@import "top-menu";
@import "../components/**";
@import "footer";