.checkbox {
	&+.checkbox {
		margin-top: 2rem;
	}

	label {
		position: relative;
		padding-left: 13px + 16;

		&:before, &:after {
			@include after-before;
			@include square(13px);
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&:before {
			border: solid 1px $color-gray;
			background: $color-gray-light;
		}

		&:after {
			transition: opacity .3s ease;
			will-change: opacity;
			opacity: 0;
			background: $color-green;
			border: solid 1px $color-gray;
			box-shadow: inset 0 0 0 1px $color-gray-light;
		}
	}

	input {
		&[type='radio'] {
			position: absolute;
			cursor: pointer;
			opacity: 0;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
		}

		&:checked {
			&+label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}