.tabs {
	@include reset;

	&__item {
		margin-bottom: 1.5rem;
		font-size: 1.8rem;

		@media(max-width: $screen-sm-max) {
			@include dib(top);

			&+.tabs__item {
				margin-left: 1.1rem;
			}
		}

		&--inline {
			@include dib(top);

			&+.tabs__item {
				margin-left: 1.1rem;
			}
		}

		&:not(.tabs__item--active) {
			cursor: pointer;
		}

		&--active {
			color: $color-green;
		}
	}

	@media(max-width: $screen-sm-max) {
		text-align: center;
	}
}