mixin pagination
	nav
		.pagination
			li.pagination__item: a(href='#') Пред
			each item, index in [1,2,3,4,5]
				li.pagination__item(class= (index == 1 ? 'pagination__item--active':'')): a(href='#')= item
			li.pagination__item: a(href='#') След