.pagination {
	&__item {
		@include helvetica-roman;
		@include dib(top,1);
		border: solid 2px $color-gray;
		font-size: 16px;
		transition: border .3s ease;
		will-change: border;

		&:hover {
			border-color: $color-green;
		}

		a {
			background-color: transparent !important;
			border: 0 !important;
			padding: .85rem 1.61rem !important;
			color: $color-gray !important;
		}

		&--active {
			background: $color-green;
			border-color: $color-green;
			
			a {
				color: $color-white !important;
			}
		}
	}
}