.toggle-me.toggle-me--pdb
	.toggle-me__item.toggle-me__item--active
		.clearfix.text-center
			.col-md-10.col-center
				h3.text-center Оплата онлайн

				form.payment(action='' method='post')
					.clearfix
						.col-md-6
							each item, index in ['С банковской карты','С банковского счета','Со счета мобильного телефона','Через аккаунт в системе электронных платежей']
								.checkbox
									input(type='radio' id='checkbox-'+index name='payment')
									label(for='checkbox-'+index)= item
						.col-md-6
							h4 Сумма платежа
							input.payment__input(type='number' value='1250')
							label руб.
							input.btn-flat.btn-flat--green(type='submit' value='Оплатить')

	.toggle-me__item
		.clearfix.text-center
			.col-md-10.col-center
				h3.text-center Ближайшие офисы

				.map
					.actions.actions--sm
						span.actions__city
							i.icon-location
							span Набережные Челны
					.row
						ul.map__list
							each item in [{name:'ост. «Электротехников»  (БЦ "Единство", 62/04)',description:'БЦ «Единство», ост. «Электротехников»,  <br>ул. Набережночелнинский, 88 (62/04) <br>пн-пт 9:00-20:00; сб-вс 10:00-19:00',phone:'8 (8552) 32-93-29'},{name:'ТЦ "Меркурий" (ул. Ш. Усманова, 39)',description:'ТЦ «Меркурий», ближ. ост. «40-ой комплекс», <br>ул. Шамиля Усманова, 39 (40/09А) <br>пн-пт 10:00-19:00; сб-вс 10:00-17:00',phone:'8 (8552) 58-99-99'},{name:'ост. "Пушкинская", ТЦ "На Пушкинской"',description:'ост. "Пушкинская", ТЦ "На Пушкинской" (45/04) <br>пн-пт 8:30-20:00; сб-вс 9:00-19:00',phone:'8 (8552) 52-05-95'},]
								li.map__item-list.map__item-list--sm.col-sm-4
									.map__name= item.name
									.map__description!= item.description
									.map__phone= item.phone
					.map__content#map