.payment {
	font-size: 16px;

	h4 {
		font-size: 16px;
	}

	input {
		&[type='checkbox'] {
			margin: 0;
		}
	}

	&__input {
		@include size(13.9rem,3.9rem);
	    font-size: 1.8rem;
	    padding: .7rem;
	    border: solid 1px #e0e0e0;
	    border-radius: 2px;
	    background: $color-gray-light;
	    margin-bottom: 2.3rem;
	}

	[class^='btn'] {
		width: 17.5rem;

		@media(max-width: $screen-sm-max) {
			width: 100%;
			font-size: 16px;
			margin-bottom: 30px;
		}
	}
}