mixin calculator
	.calculator(class= (attributes.class ? attributes.class:''))
		.calculator__content
			.calculator__action
				.calculator__range(data-param={value:8000,min:1000,max:20000,step:1000,stepLabel:5000,stepStop:0})
					.calculator__caption
						.calculator__text Сумма займа
						.calculator__amount
							span
							span руб.
				.calculator__range.calculator__range--days(data-param={value:7,min:1,max:16,step:1,stepLabel:4,stepStop:8})
					.calculator__caption
						.calculator__text Срок займа
						.calculator__amount
							span
							span дней

				.calculator__bottom
					span Вы возвращаете 
						span.calculator__your-own 
						|р. 
					span Дата возврата: 
						span.calculator__date  
						|г.

			.btn Подай заявку сейчас!