.calculator {
	position: relative;

	&--pd {
		padding: 7.4rem 0;

		@media(max-width: $screen-sm-max) {
			padding-top: 0;
		}
	}

	&__action {
		margin-bottom: 7rem;

		&:hover {
			.ui-slider-handle {
				will-change: background;

				&:before {
					will-change: border;
				}
			}
		}
	}

	&__content {
		margin: 10rem auto 0;
		width: 100%;
		max-width: 569px;
	}

	&__range {
		position: relative;
		height: 4px;
		position: relative;
		background: #fff;

		&+.calculator__range {
			margin-top: 11.2rem;
		}
	}

	&__caption {
		position: absolute;
	    color: #fff;
	    top: -5.9rem;
	    width: 100%;
	    display: inline-block;
	    text-align: justify;
	    left: 0;

	    &:after {
	    	content: '';
	    	@include dib(top);
	    	width: 100%;
	    }
	}

	&__text, &__amount {
		@include dib(top);
	}

	&__text {
		@include helvetica-roman;
		font-size: 2rem;
	}

	&__amount {
		@include helvetica-bold;
		font-size: 4rem;
		line-height: 1.1;
	}

	&__bottom {
		font-size: 2rem;
		margin-top: 4.4rem;
		text-align: left;
		color: $color-white;

		@media(max-width: $screen-xs-max) {
			> span {
				display: block;
			}
		}
	}

	label {
		@include helvetica-roman;
		position: absolute;
		margin: 0;
		top: 5px;
		font-size: 1.6rem;
		color: $color-white;

		&:last-child {
			left: initial !important;
			right: 0;
		}
	}

	.ui-slider-handle {
		@include size(1.8rem,1.7rem);
		// transition: left .3s ease;
		left: 0;
		position: relative;
		background: $color-white;
		display: block;
		transition: background .2s linear;

		&:before {
			@include after-before;
			transition: border .2s linear;
			border-right: solid .9rem transparent;
		    top: -.8rem;
		    left: 0;
		    border-left: solid .9rem transparent;
		    border-bottom: solid 1rem $color-white;
		}

		&:active, &:focus {
			outline: none;
			background: lighten($color-green, 20);

			&:before {
				border-bottom-color: lighten($color-green, 20);
			}
		}

		&__last {
			left: 97% !important;
		}
	}
}