.list {
	text-align: center;
	margin-bottom: 2rem;

	&--inline {
		text-align: left;

		.list__wrapper, .list__ico {
			@include dib(middle);
		}

		.list__ico {
			margin-right: 3rem;
		}

		.list__title {
			margin-top: -1rem;
		}
	}

	&__title, &__action {
		font-size: 2.6rem;
	}

	&__title {
		margin-top: .7rem;

		&--lg {
			font-size: 3rem;
			line-height: 1.1;
		}
	}

	&__action, &__ico {
		color: $color-green;
	}

	&__ico {
		width: 6.9rem;
		text-align: center;
		font-size: 7.5rem;

		.icon-city {
			font-size: 6.5rem;
		}
	}

	&__wrapper {
	}

	&__text {
		font-size: 1.6rem;
		margin-top: .3rem;
	}
}