mixin list(data)
	.clearfix
		div(class= (!attributes.norow ? 'row':''))
			each item in data
				div(class= (attributes.col ? 'col-sm-'+attributes.col:''))
					.list(class= (attributes.inline ? ' list--inline':''))
						span.list__ico
							i(class='icon-'+item.ico)
						.list__wrapper
							.list__title(class= (attributes.inline ? ' list__title--lg':''))!= item.title
							.list__action!= item.action
							if item.text
								.list__text!= item.text