.toggle-me {
	position: relative;

	&--pdb {
		padding-bottom: 2rem;
	}
	
	&__item {
	position: absolute;
	width: 100%;
	top: 0;
	opacity: 0;
	z-index: 1;
	transition: opacity .3s ease;

		&--active {
			position: relative;
			z-index: 2;
			opacity: 1;
		}
	}
}