.person
	span.person__avatar
		img(src="http://specials-images.forbesimg.com/imageserve/5637d810e4b0ffa7afe68fc9/320x486.jpg?fit=scale&background=000000", alt="")
	span.person__name
		span Алексей иванов
		span.person__status Постоянный клиент
	span.person__info
		span.person__phone 937 667 00 02
		a(href='#') Выйти