.person {
	@media(max-width: $screen-sm-max) {
		margin-top: 2rem;
	}

	&__avatar {
		@include dib(middle);
		@include square(43px);
		overflow: hidden;
		border-radius: 100%;
		img {
			@include img-responsive;
		}
	}

	&__name {
		@include dib(middle);
		font-size: 18px;
		padding-left: 9px;

		span {
			display: block;
			line-height: 1.2;
		}
	}

	&__status {
		font-size: 14px;
		color: $color-green;
	}

	&__info {
		@include dib(middle);
		padding-left: 2.6rem;

		@media(max-width: $screen-xs-max) {
			padding-left: 52px;
			display: block;
		}

		a {
			color: $color-green;
			border-bottom: solid 1px $color-green;
		}
	}

	&__phone {
		display: block;
		font-size: 14px;
	}

	&__name, &__info {
		text-align: left;
	}
}