.girl {
	@include size(411px,641px);
	margin: -68px 0 0 -40px;
	background-image: url('../img/girl.png');
	background-repeat: no-repeat;
	background-position: center;

	@media 
	(-webkit-min-device-pixel-ratio: 1.5), 
	(min-resolution: 144dpi){
		background-image: url('../img/girl@2x.png');
		background-size: 641px 411px; 
	}

	@media(max-width: $screen-sm-max) {
		display: none;
	}
}