.reviews {
	&.owl-carousel {
		.owl-item {
			height: 121px+70;
		}

		.item-video {
			height: 100%;
			padding-bottom: 70px;

			&__wrapper {
				margin-top: 19px;
				text-align: center;
				color: $color-white;
				font-size: 16px;
			}

			&__link {
				@include square(100%);
				display: block !important;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
			}
		}

		.owl-video-play-icon {
			background: transparent;
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			font-size: 6rem;
    		color: rgba(255, 255, 255, 0.59);
			transform: translate(-50%,-50%);
			margin: auto;
			width: initial;
			height: initial;

			&:before {
				content: "\e905";
			}
		}

		.owl-video-tn {
			background-size: cover;
		}
	}
}