.toggle {
	@include dib(middle);
	@include reset;
	overflow: hidden;
	margin-left: 2.3rem;

	@media(max-width: $screen-xs-max) {
		position: initial;
		float: none !important;
   		margin-top: 1rem;
	}

	&--absolute {
		position: absolute;
		top: 0;
		right: 15px;
		overflow: hidden;
	}

	&__item {
		@include dib(middle);
		position: relative;
		padding: .60rem 1.22rem;
		border: solid 2px $color-white;
		color: $color-white;
		font-size: 1.6rem;
		transition: color .3s linear;

		&:not(.toggle__item--active) {
			cursor: pointer;
		}

		&:hover:not(.toggle__item--active) {
			will-change: color;

			&:before {
				will-change: left, right;
			}
		}

		&:before {
			@include after-before;
			@include square(100%);
			background: $color-white;
			top: 0;
			right: -100%;
			z-index: -1;
			transition: left .3s linear,
						right .3s linear;
		}

		// &:active {
		// 	color: $color-green;
		// 	z-index: 1;

		// 	&:before {
		// 		left: 0;
		// 	}	
		// }

		&+.toggle__item {
			margin-left: -5px;
		}

		&--active {
			color: $color-green;
			z-index: 1;

			&:before {
				right: 0;
			}
		}

		&+.toggle__item:not(.toggle__item--active) {
			&:before {
				right: initial;
				left: -100%;
			}
		}

		&+.toggle__item--active {
			&:before {
				left: 0;
			}
		}
	}
}