.answers {
	&__left, &__right {
		@include dib(top);
	}

	&__left {
		width: 44%;

		@media(max-width: $screen-sm-max) {
			width: 100%;
		}
	}

	&__right {
		width: 55%;
		padding-left: 3.5rem;

		@media(max-width: $screen-sm-max) {
			width: 100%;
			padding: 0;
		}
	}

	&__swiper {
		.swiper-container {
		}
		.swiper-slide {
			background: $color-white;
		}
	}

	&__wrapper {
		padding-left: 16px;
	}

	&__question {
		font-size: 2.6rem;
		line-height: 1.1;
		margin-bottom: .8rem;
		position: relative;
		cursor: pointer;

		&:before {
			@include after-before;
			@include size(8px,2px);
			background: $color-black;
			left: -16px;
    		top: 8px;
		}

		&--active {
			color: $color-green;

			&:before {
				background-color: $color-green;
			}
		}
	}

	&__answer {
		font-size: 16px;
		margin-bottom: 2.3rem;
		line-height: 1.2;
		display: none;
	}

	@media(max-width: $screen-sm-max) {
		h2 {
			text-align: center;
		}
	}
}