mixin answers(data)
	.answers
		.answers__left
			h2.h2--mr-sm.text-right Ответы на вопросы
			.text-right
				ul.tabs
					each item in ['Получение займа','Погашение займа','Работа сервиса']
						li.tabs__item= item
		.answers__right
			.answers__swiper
				.swiper-container
					.swiper-wrapper
						each item in data
							.swiper-slide
								each itemBlock in item.block
									.answers__wrapper
										.answers__question= itemBlock.question
										.answers__answer= itemBlock.answer