.table-null {
	width: 100%;
	margin: 2rem 0;

	@media(max-width: $screen-xs-max) {
		width: 700px;
	}

	&--list {
		width: auto;

		td {
			font-size: 16px;

			&:first-child {
				width: 50%;
			}
		}
	}

	tr {
		&:first-child {
			.table-null__td {
				padding-top: 2.1rem;
			}
		}
	}

	&__td {
		padding: .2rem 0;
		text-align: center;

		&:first-child {
			text-align: left;
		}
	}

	&__title {
		color: $color-green;
	}

	&__text {

	}

	&__th {
		text-align: center;
		padding: 0 .9rem .7rem 0;

		&:first-child {
			text-align: left;
		}

		&--line {
			border-bottom: solid 1px $color-black;
		}
	}
}