mixin map
	.map.toggle-me
		.toggle-me__item.toggle-me__item--active
			.map__content#map
		.toggle-me__item
			.block.block--green-light.block--pd-md
				.container
					.row
						ul.map__list
							each item in [{name:'ост. «Электротехников»  (БЦ "Единство", 62/04)',description:'БЦ «Единство», ост. «Электротехников»,  <br>ул. Набережночелнинский, 88 (62/04) <br>пн-пт 9:00-20:00; сб-вс 10:00-19:00',phone:'8 (8552) 32-93-29'},{name:'ТЦ "Меркурий" (ул. Ш. Усманова, 39)',description:'ТЦ «Меркурий», ближ. ост. «40-ой комплекс», <br>ул. Шамиля Усманова, 39 (40/09А) <br>пн-пт 10:00-19:00; сб-вс 10:00-17:00',phone:'8 (8552) 58-99-99'},{name:'ост. "Пушкинская", ТЦ "На Пушкинской"',description:'ост. "Пушкинская", ТЦ "На Пушкинской" (45/04) <br>пн-пт 8:30-20:00; сб-вс 9:00-19:00',phone:'8 (8552) 52-05-95'}]
								li.map__item-list.col-sm-6
									.map__name= item.name
									.map__description!= item.description
									.map__phone= item.phone