.map {
	position: relative;
	overflow: hidden;

	&__list {
		@include reset;
		@include clearfix;
	}

	&__item-list {
		margin-bottom: 2.3rem;

		&--sm {
			.map__name {
				font-size: 14px;
			}
			
			.map__description, .map__phone {
				font-size: 12px;
			}
		}
	}

	[class$='-6'] {
		&:nth-child(odd), {
			clear: both;
		}
	}

	&__name {
		@include helvetica-bold;
		font-size: 20px;
		color: $color-green;
	}

	&__description, &__phone {
		font-size: 16px;
	}

	&__description {
		margin-top: .3rem;
		line-height: 1.2;
	}

	&__phone {
		@include helvetica-bold;
	}

	&__content {
		height: 51.3rem;
	}
}