.profile {
	&__total {
		font-size: 2.6rem;
	}

	&__value {
		@include helvetica-bold;
		font-size: 3.7rem;
		margin-left: 1rem;

		@media(max-width: $screen-xs-min) {
			margin-left: 0;
			display: block;
		}
	}
}