.actions {
	font-size: 18px;
	margin-bottom: 5.5rem;
	color: #7c7c7c;

	&--sm {
		margin-bottom: 2.3rem;
	}

	&--choose {
		margin-bottom: 4.5rem;
	}

	i {
		color: #bfbfbf;
		margin-right: 6px;
	}

	&__choose {
		margin-right: 5.7rem;
	}

	&__city {
		@media(max-width: $screen-xs-min) {
			margin-top: 6px;
		}
	}

	&__choose, &__city {
		@include dib(bottom);
		span {
			border-bottom: solid 1px #7c7c7c;
		}

		@media(max-width: $screen-xs-min) {
			display: block;
		}
	}

	&__search {
		@include dib(bottom);
		font-size: 16px;
	    overflow: hidden;
	    border: 0 !important;

	    input {
	    	width: 273px;
	    	border: solid 2px #c0baba;
	    	padding: 2px 5px;
	    	outline: none;
	    }
	}
}