mixin cities
	.cities
		h2.cities__title Выберите свой город
		each item in [{title:'Башкортостан Республика', cities:['Уфа','Стерлитамак','Уфа','Стерлитамак']},{title:'Татарстан Республика', cities:['Набережные Челны','Казань','Елабуга']},{title:'Башкортостан Республика', cities:['Уфа','Стерлитамак','Уфа','Стерлитамак']}]
			.cities__item= item.title
				ul.cities__list
					each itemList in item.cities
						li: a(href='#')= itemList