.cities {
	display: flex;
	flex-wrap: wrap;

	&__title {
		flex: 0 0 100%;
		color: $color-black;
		font-size: 2.9rem;
		margin-bottom: 3rem;
	}

	&__item {
		flex: 0 0 4/12*100+%;
		color: $color-green;
		font-size: 2.6rem;
		padding-right: 8.1rem;
		margin-bottom: 3rem;
		line-height: 1.2;
		cursor: pointer;


		@media(min-width: $screen-sm-min) {
			&:nth-of-type(3n) {
				padding-right: 0;
			}
		}

		@media(min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			flex: 0 0 6/12*100+%;

			&:nth-of-type(2n) {
				padding-right: 0;
			}
		}

		@media(max-width: $screen-xs-min) {
			padding: 0;
			flex: 0 0 100%;
		}

		a {
			color: $color-green;
		}
	}

	&__list {
		@include reset;
		display: none;
		font-size: 2.6/1.33+rem;
		margin-top: 1rem;

		a {
			padding: .7rem 0;
			display: block;
		}
	}
}