.your-city {
	position: absolute;
	background: $color-white;
    padding: 2.7rem;
    color: $color-black;
    text-align: left;
    margin: 12px 0 0 18px;
    transition:
    	transform .3s linear,
    	opacity .5s linear;

    &:hover {
    	will-change: transform, opacity;
    }

    @media(max-width: $screen-xs-max) {
    	display: none;
    }
    
    @media(max-width: $screen-sm-max) {
    	top: 0;
    	left: 0;
    	margin: 0;
    }

    @media(min-width: $screen-md-min) and (max-width: $screen-md-max) {
    	right: 0;
    }

    &:before {
    	@include after-before;
    	border-right: solid 17px transparent;
    	border-left: solid 17px transparent;
    	border-bottom: solid 12px $color-white;
    	top: -12px;
    	left: 50px;

    	@media(max-width: $screen-md-max) {
    		left: initial;
    		right: 50px;
    	}

    	@media(max-width: $screen-sm-max) {
    		display: none;
    	}
    }

    &__title {
    	font-size: 1.6rem;
    }

    &__name {
    	@include helvetica-roman;
    	font-size: 2rem;
    	margin-top: .7rem;
    }

    &__buttons {
    	margin-top: 1.7rem;

    	button {
    		&+button {
    			margin-left: 3.5rem;
    		}
    	}
    }
}