mixin yourCity
	.your-city
		.your-city__title Ваш город
		.your-city__name Набережные Челны
		.your-city__buttons
			button.btn-flat(data-action='close') Да
			button.btn-flat.btn-flat--green(data-show='.navbar-default__choose-city') Нет, изменить город