.breadcrumb {
	padding-left: 0!important;
	padding-right: 0!important;
	background: transparent;
	border-radius: 0;
	margin-bottom: 0;

	&__item {
		a {
			color: $color-black;
		}

		&--active {
			a {
				color: $color-green;
			}
		}
	}
}