mixin news(data)
	.news
		div(class= (!attributes.noSwiper ? 'swiper-container':'news__flex'))
			.swiper-wrapper
				each item in data
					.swiper-slide
						article
							.news__img(style='background-image: url(../img/_tmp/office.jpg)')
							.news__wrapper
								.news__title= item.title
								.news__text= item.text
								a.news__link(href='#') Узнать больше
							footer.news__footer 5 мая 2016 года
