.news {
	margin-top: 5.9rem;

	&--full {
		margin-top: 0;
	}

	.swiper-slide {
		background: $color-white;
		height: initial;
		overflow: hidden;
	}

	&__wrapper {
		padding: 4.5rem 4.9rem 4.9rem;
		margin-bottom: 55px;
	}

	&__img {
		@include img-property;
		height: 19.1rem;

		&--full {
			height: 40.5rem;
		}
	}

	&__title {
		font-size: 2.6rem;
		line-height: 1;
		margin-bottom: 2rem;

		&--full {
			@include helvetica-bold;
			font-size: 4rem;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 1.2;

		&--full {
			font-size: 16px;
		}
	}

	&__link {
		font-size: 18px;
		margin-top: 1rem;
		display: block;
	}

	&__footer {
		font-size: 14px;
		background: #f4f8f4;
		border-top: solid 2px $color-green-light;
		padding: 1.7rem 4.9rem;
		position: absolute;
		bottom: 0;
		width: 100%;

		&--full {
			border-top-width: 5px;
		}
	}

	article {
		position: relative;
		background: $color-white;
		height: 100%;
		padding-bottom: 1px;
	}

	&__flex {
		.swiper-wrapper {
			width: initial;
			flex-wrap: wrap;
			margin-left: -$grid-gutter-width;
		}

		.swiper-slide {
			flex: 0 0 33.333%;
			margin-bottom: $grid-gutter-width;
			background: transparent;

			@media(max-width: $screen-sm-min) {
				flex: 0 0 50%;
			}

			@media(max-width: $screen-xs-min) {
				flex: 0 0 100%;
			}

			article {
				margin-left: $grid-gutter-width;
			}
		}
	}
}