include include/mixins
include ../components/footer-list/footer-list
block vars
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(
			name="viewport" 
			content="width=device-width, initial-scale=1, user-scalable=no")
		meta(content="", name="description")
		meta(content="", name="keywords")
		title Company &mdash; 
			block title

		link(rel="stylesheet", href="css/vendors.min.css")
		link(rel="stylesheet", href="css/custom.css")
		//- link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
	body(class= (pageId > 0 ? 'inner':''))
		script(src='js/modernizr.js')
		//- .svg-include
		//- 	include ../img/i.svg
		header.header
			include include/top-menu
			if pageId == 0
				.header__bg
					.header__wrapper
						.header__title В День Рождения  —  займ под 0%
						.container
							+calculator

		block content
		footer.footer.block.block--gray-light.block--pd-md
			.container
				.row
					.clearfix
						.col-md-7
							+footerList(['О нас','Новости','Статьи','Вакансии'])(title = 'О компании')
							+footerList(['Списком'])(title = 'Адреса отделений')
							+footerList(['Ответы на вопросы','Как получить','Как вернуть','Документы'])(title = 'Клиентам')

						.col-md-5
							.footer-social
								.footer-social__title Мы в социальных сетях:
									.footer-social__wrapper
										each item in ['insta','fb','vk','twitter']
											a.footer-social__ico(href='#' class='icon-'+item)
												span.path1
												span.path2
								.footer-social__title Телефон горячей линии
									.footer-social__phone 8 800 333-55-66

				.footer-bottom
					.footer-bottom__logo
						img(src="img/svg/logo-footer.svg", alt="")
					.footer-bottom__copy ООО МФО «Деньгимигом» ©2015

		include ../components/modal/modal
						
		script(src='js/vendors.min.js')
		script(src='js/custom.js')
		block script