include ../../app/components/calculator/calculator
include ../../app/components/map/map
include ../../app/components/list/list
include ../../app/components/answers/answers
include ../../app/components/news/news
extends _template
block vars
	- var pageId = 0

block title
	|Главная

block content
	section.block.block--green.block--pd-sm
		.container.text-center
			h2.h2--sm.h2--white Ближайшие к вам офисы
			ul.pull-right.toggle.toggle--absolute
				li.toggle__item.toggle__item--active На карте
				li.toggle__item.toggle__item Списком

	+map

	section.block.block--white.block--mr-lg
		.container
			h2.h2--mr-lg.text-center Более 1 000 000 займов уже выдано

			+list([{ico:'form',title:'Шаг 1',action:'Заполните анкету',text:'Для этого понадобятся ФИО, <br>паспортные данные, <br>номер мобильного телефона.'},{ico:'clock',title:'Шаг 2',action:'10 минут на решение',text:'Мы оценим готовность выдать <br>вам займ за 10 минут <br>и сразу дадим ответ.'},{ico:'wallet',title:'Шаг 2',action:'Забирайте деньги',text:'Выбирайте любой офис, <br>в котором  вам удобно забрать <br>деньги - они теперь ваши!'}])(col = 4)

	section.block.block--white.block--mr-lg
		.container.container--sm
			h2.h2--mr-lg.text-center Почему выбирают нас?
			+list([{ico:'passport',title:'Из всех документов <br>нужен только паспорт'},{ico:'city',title:'Более 150 офисов <br>в 60 городах страны'},{ico:'clock',title:'Принятие решения <br>о выдаче - 15 минут'},{ico:'wallet',title:'Сумма займа <br>до 20 000 р.'}])(col = 6 inline)

			.text-center: .btn.btn--mrt Подай заявку сейчас!

	section.block.block--green.block--pd-bg
		.container
			h2.h2--white.h2--mr-md.text-center Отзывы о Деньгимигом
			
			.reviews.owl-carousel
				each item in [{name:'',city:'',link:'http://www.youtube.com/embed/L9szn1QQfas?autoplay=1'},{link:'https://www.youtube.com/embed/VMDAEvJJBoE?autoplay=1'},{link:'http://www.youtube.com/embed/L9szn1QQfas?autoplay=1'},{link:'http://www.youtube.com/embed/L9szn1QQfas?autoplay=1'},{link:'http://www.youtube.com/embed/L9szn1QQfas?autoplay=1'}]
					.item-video
						a.item-video__link.owl-video(href= item.link data-type="iframe")
						.item-video__wrapper
							.item-video__name Геливинов  Петр 
							.item-video__city г. Чебоксары

	section.block.block--white.block--pd-bg
		.container
			+answers([{block:[{question:'У меня изменились данные. как я могу внести изменения в своей анкете?',answer:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{question:'Я погасил займ.Когда я могу подать заявку снова?',answer:'Для подачи новой заявки, заполните анкету на сайте dmigom.ru'}]},{block:[{question:'Данные. как я могу внести изменения в своей анкете?',answer:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{question:'Я погасил займ.Когда я могу подать заявку снова?',answer:'Для подачи новой заявки, заполните анкету на сайте dmigom.ru'}]},{block:[{question:'Данные. как я могу внести изменения в своей анкете?',answer:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{question:'Я погасил займ.Когда я могу подать заявку снова?',answer:'Для подачи новой заявки, заполните анкету на сайте dmigom.ru'}]}])

	section.block.block--green-light.block--pd-bg
		.container
			.articles
				h2.h2--mr-sm.text-center Новости
				.text-center
					ul.tabs
						each item in ['Новости','Статьи','Финансовая грамотность']
							li.tabs__item.tabs__item--inline= item
				
				.articles__swiper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								+news([{title:'Открылся новый офис',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},])

							.swiper-slide
								+news([{title:'Открылся новый офис 2',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},])

							.swiper-slide
								+news([{title:'Открылся новый офис 3',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},])


	.block.block--green
		.container.text-center
			.row
				.clearfix
					.col-md-4
						.girl
					.col-md-6
						+calculator(class = 'calculator--pd')
					.col-md-2

block script
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBxfVNaWVLyg6cyvoD80jXrH9aD7G1kqM&callback=initMap' async defer)