include ../../app/components/map/map
extends _template
block vars
	- var pageId = 10
	- var title = 'Работа в компании'

block title
	| #{title}

block content
	section.block.block--white.block--pd-lg
		.container
			h1.h1.h1--mr-md.text-center #{title}