include ../../app/components/news/news
include ../../app/components/breadcrumb/breadcrumb
include ../../app/components/pagination/pagination
extends _template
block vars
	- var pageId = 1
	- var title = 'Новости'

block title
	| #{title}

block content
	.block.block--white
		.container
			+breadcrumb
	section.block.block--green-light.block--pd-bg
		.container
			h1.h1.h1--mr-sm.text-center #{title}

			+news([{title:'Открылся новый офис',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Открылся новый офис',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Открылся новый офис',text:'Как только мы получаем переведенные вами средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на следующий займ. Для подачи новой заявки, заполните анкету на сайте dmigom.ru'},{title:'Новый офис открылся в Татарстане',text:'средства на погашение задолженности, информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'},{title:'Татарстане',text:'информация о вас в нашей базе данных обновляется, вы сразу же можете подавать заявку на'}])(noSwiper = 1)

			.text-center
				+pagination