include ../../app/components/map/map
extends _template
block vars
	- var pageId = 1
	- var title = 'Регионы присутствия'

block title
	| #{title}

block content
	section.block.block--white.block--pd-lg
		.container
			h1.h1.h1--mr-md.text-center #{title}

		.map
			.container
				.actions
					span.actions__choose
						i.icon-search
						span Другой город
					span.actions__city
						i.icon-location
						span Набережные Челны
				.row
					ul.map__list
						each item in [{name:'ост. «Электротехников»  (БЦ "Единство", 62/04)',description:'БЦ «Единство», ост. «Электротехников»,  <br>ул. Набережночелнинский, 88 (62/04) <br>пн-пт 9:00-20:00; сб-вс 10:00-19:00',phone:'8 (8552) 32-93-29'},{name:'ТЦ "Меркурий" (ул. Ш. Усманова, 39)',description:'ТЦ «Меркурий», ближ. ост. «40-ой комплекс», <br>ул. Шамиля Усманова, 39 (40/09А) <br>пн-пт 10:00-19:00; сб-вс 10:00-17:00',phone:'8 (8552) 58-99-99'},{name:'ост. "Пушкинская", ТЦ "На Пушкинской"',description:'ост. "Пушкинская", ТЦ "На Пушкинской" (45/04) <br>пн-пт 8:30-20:00; сб-вс 9:00-19:00',phone:'8 (8552) 52-05-95'}]
							li.map__item-list.col-sm-6
								.map__name= item.name
								.map__description!= item.description
								.map__phone= item.phone
			.map__content#map

block script
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBxfVNaWVLyg6cyvoD80jXrH9aD7G1kqM&callback=initMap' async defer)