extends _template
block vars
	- var pageId = 3
	- var title = 'Личный кабинет'

block title
	| #{title}

block content
	.block.block--white.block--pd-sm
		.container
			.row.text-center
				.col-md-8.col-center
					.clearfix
						.col-md-6: h1.h1.h1--sm Личный кабинет
						.col-md-6.text-right
							include ../../app/components/person/person
	section.block.block--img(style='background-image: url(img/profile-bg.jpg)')
		.container
			include ../../app/components/access/access
			.row.text-center.block.block--mr-md
				.col-md-8.col-xs-12.col-center.block.block--white.profile
					h3 Текущий займ

					.profile__total Сумма для погашения:
						span.profile__value 27 650 р.

					table.table-null.table-null.table-null.table-null--list
						tbody
							each item in [{name:'Номер займа:  ',text:'126 115 521'},{name:'Заявка принята:  ',text:'01.01.15 (00:00 МСК)'},{name:'Сумма займа:  ',text:'20 000.р.'}]
								tr
									td.table-null__title= item.name
									td.table-null__text= item.text

					.block.block--green.block--pd-xs.text-center.row
						span.h4.h4--white Выберите способ погашения займа: 
						ul.toggle
							li.toggle__item.toggle__item--active Онлайн
							li.toggle__item.toggle__item Оффлайн
					include ../../app/components/payment/payment

			.row.text-center.block.block--mr-md
				.col-md-8.col-xs-12.col-center.block.block--white.profile
					h3 Предыдущие займы

					table.table-null
						thead
							tr
								each item in ['Дата','Сумма займа','На срок','Цель','Продление займа','Оплачено','Статус']
									th.table-null__th.table-null__th--line= item

						tbody
							- for(var i = 1; i < 10; i++)
								tr
									td.table-null__td 01.01.2015
									td.table-null__td 25 000
									td.table-null__td 10 дней
									td.table-null__td На машину
									td.table-null__td -
									td.table-null__td 25 000
									td.table-null__td Погашен

					.btn-flat.btn-flat--green-light.btn-flat--lg.row.text-center Показать еще

			.row.text-center.block.block--mr-md
				.col-md-8.col-xs-12.col-center.block.block--white.profile
					h3 Все договора

					table.table-null
						thead
							tr
								each item in ['Название договора','Статус','Действия']
									th.table-null__th.table-null__th--line= item

						tbody
							
							- for(var i = 1; i < 10; i++)
								tr
									td.table-null__td Название договора
									td.table-null__td Подписан
									td.table-null__td Распечатан

					.btn-flat.btn-flat--green-light.btn-flat--lg.row.text-center Показать еще

block script
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDBxfVNaWVLyg6cyvoD80jXrH9aD7G1kqM&callback=initMap' async defer)